.dashboard-module {
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  &__item {
    text-decoration: none;
    padding: 3.5rem 3rem;
    margin: 1.5rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 0.25rem;
    width: 10rem;
    text-align: center;

    &:hover {
      background-color: #333333;
      text-decoration: none;
      color: #fff;
    }
  }
}