body {
    background: #F3F6F7 0% 0% no-repeat padding-box;
    margin: 0;
    padding: 0;
}

.fail {
    color: #ff0000;
}

.success {
    color: #008000;
}

h3 {
    padding: 0;
    margin: 0 0 20px 0;
}

.title {
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: rgba(13, 27, 62, 0.7);
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
}